@theme inline {
  --color-outline: #99907c;
  --color-secondary-fixed: #e4e1e6;
  --color-tertiary-fixed: #e1e3e4;
  --color-on-surface-variant: #d0c5af;
  --color-on-secondary-fixed: #1b1b1e;
  --color-surface-dim: #131313;
  --color-on-secondary-fixed-variant: #47464a;
  --color-on-error: #690005;
  --color-surface-tint: #e9c349;
  --color-surface-container-low: #1b1b1b;
  --color-inverse-surface: #e2e2e2;
  --color-inverse-on-surface: #303030;
  --color-tertiary: #cdcecf;
  --color-background: #131313;
  --color-on-tertiary-fixed: #191c1d;
  --color-on-tertiary: #2e3132;
  --color-tertiary-fixed-dim: #c5c7c8;
  --color-surface-bright: #393939;
  --color-surface-variant: #353535;
  --color-on-background: #e2e2e2;
  --color-on-tertiary-container: #434546;
  --color-secondary-fixed-dim: #c8c5ca;
  --color-on-primary-fixed: #241a00;
  --color-error-container: #93000a;
  --color-surface: #131313;
  --color-on-primary-container: #554300;
  --color-on-surface: #e2e2e2;
  --color-primary: #f2ca50;
  --color-surface-container-high: #2a2a2a;
  --color-on-error-container: #ffdad6;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container: #1f1f1f;
  --color-on-secondary-container: #b6b4b8;
  --color-primary-fixed: #ffe088;
  --color-on-primary: #3c2f00;
  --color-primary-container: #d4af37;
  --color-secondary: #c8c5ca;
  --color-outline-variant: #4d4635;
  --color-surface-container-highest: #353535;
  --color-primary-fixed-dim: #e9c349;
  --color-inverse-primary: #735c00;
  --color-on-secondary: #303033;
  --color-on-tertiary-fixed-variant: #454748;
  --color-error: #ffb4ab;
  --color-tertiary-container: #b1b3b4;
  --color-secondary-container: #47464a;
  --color-on-primary-fixed-variant: #574500;
  --font-headline-lg-mobile: Playfair, Display;
  --font-label-sm: Plus, Jakarta, Sans;
  --font-body-md: Plus, Jakarta, Sans;
  --font-body-lg: Plus, Jakarta, Sans;
  --font-display-lg: Playfair, Display;
  --font-headline-lg: Playfair, Display;
  --font-headline-md: Playfair, Display;
  --font-label-md: Plus, Jakarta, Sans;
}
